$cWhite: white;
$cBlack: black;
$cMainTxt: #231815;
$contentMaxWidth: 1400px;
$contentMaxWidth850: 850px;
$navHeight: 100px;
$navHeight-m: 65px;
$cBordorLine: #231815;
$cBgColor: #ebe0d2;
$cBgGray: #f8f6f4;
$cBgColorGray: #5f5f5f;

$cYellow: #f5d803;
$cYellowThin: #fbe857;
$cBlue: #66b8e4;
